.DesignPage {
    width: 100%;
    .PageContent {
        width: 100%;
        padding: 2rem 0;
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        @import './imports/MainCard';
        @import './imports/Services';
        @import './imports/Banner';
        @import './imports/Secret';
        @import './imports/Process';
        @import './imports/Projects';
    }
}