.NavBar {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Logo {
        width: auto;
        height: 20px;
        aspect-ratio: 146.37/30;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:hover {
            opacity: 0.65;
            cursor: pointer;
        }
        &:active {
            opacity: 1;
            cursor: pointer;
        }
    }
    .Navigation {
        min-width: 100px;
        height: auto;
        background: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .NavButton {
            background-color: transparent;
            color: var(--C2);
            font-family: inherit;
            text-transform: none;
            border-radius: 0.5rem;
            &:not(last-child) {
                margin-right: 1rem;
            }
            &:hover {
                background-color: rgba($C2, 0.05);
            }
            &:active {
                background-color: rgba($C2, 0);
            }
        }
        .NavButton.Active {
            color: var(--C4);
            font-weight: bold;
        }
        .ActionButton {
            background-color: rgba($C4, 0.15);
            color: var(--C4);
            font-family: inherit;
            text-transform: none;
            box-shadow: none;
            border-radius: 1rem;
        }
    }
}