@mixin ColorToGradient($val) {
    @if $val==$C1 {
        background: $G1;
    }
    @else if $val==$C2 {
        background: $G2;
    }
    @else if $val==$C3 {
        background: $G3;
    }
    @else if $val==$C4 {
        background: $G4;
    }
    @else {
        background: $G5;
    }
}

@mixin DefaultButton($color) {
    @include ColorToGradient($color);
    color: $C5;
    font-family: inherit;
    padding: 0.6rem 1.25rem;
    border-radius: 15px;
    gap: 10px;
    box-shadow: none;
    box-shadow: 0px 100px 80px rgba($color, 0.07), 0px 41.7776px 33.4221px rgba($color, 0.0503198), 0px 22.3363px 17.869px rgba($color, 0.0417275), 0px 12.5216px 10.0172px rgba($color, 0.035), 0px 6.6501px 5.32008px rgba($color, 0.0282725), 0px 2.76726px 2.21381px rgba($color, 0.0196802);
    transition: all 0.2s ease-in-out;
    text-transform: none;
    white-space: nowrap;
    &:hover,
    &:active,
    &:focus {
        @include ColorToGradient($color);
        background-size: 200%;
        box-shadow: 0px 100px 80px rgba($color, 0.07), 0px 41.7776px 33.4221px rgba($color, 0.0503198), 0px 22.3363px 17.869px rgba($color, 0.0417275), 0px 12.5216px 10.0172px rgba($color, 0.035), 0px 6.6501px 5.32008px rgba($color, 0.0282725), 0px 2.76726px 2.21381px rgba($color, 0.0196802);
    }
}

.DefaultButton {
    @include DefaultButton($C2);
}

.DefaultButton.Black {
    @include DefaultButton($C1);
}

.DefaultButton.Gray {
    @include DefaultButton($C2);
}

.DefaultButton.Red {
    @include DefaultButton($C3);
}

.DefaultButton.Blue {
    @include DefaultButton($C4);
}

.DefaultButton.White {
    @include DefaultButton($C5);
}

// 
// 
// 
//  Text Buttons
@mixin IconTextButton($color) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color;
    font-family: inherit;
    padding: 0.6rem 1.25rem;
    border-radius: 15px;
    gap: 10px;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    text-transform: none;
    white-space: nowrap;
}

.IconTextButton.Red {
    @include IconTextButton($C3);
}

.IconTextButton.Blue {
    @include IconTextButton($C4);
}

// 
// 
// Icon Button (Hamburger Menu, etc.)
@mixin IconButton($color) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color !important;
    border-color: $color !important;
    aspect-ratio: 1/1;
    outline-color: $color !important;
}

.IconButton {
    @include IconButton($C3);
    border-color: $C3 !important;
    border-radius: 1rem !important;
}

.IconButton.White {
    @include IconButton($C5);
    border-color: $C5 !important;
    border-radius: 1rem !important;
}

@mixin OutlinedButton($color) {
    outline-color: $color !important;
    border-color: $color !important;
    color: $color !important;
    border-width: 2.5px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.25rem;
    gap: 10px;
    filter: drop-shadow(0px 100px 80px rgba($color, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba($color, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba($color, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba($color, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba($color, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba($color, 0.0196802));
    border-radius: 15px;
    font-family: inherit !important;
    font-weight: 700 !important;
    &:hover,
    &:active,
    &:focus {
        filter: drop-shadow(0px 100px 80px rgba($color, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba($color, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba($color, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba($color, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba($color, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba($color, 0.0196802));
    }
}

.OutlinedButton.red {
    @include OutlinedButton($C3);
}