@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700;800;900;1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: Outfit, Cairo, sans-serif !important;
    box-sizing: border-box;
}

@import './components';
@mixin GlobalPadding() {
    padding: 2.5vh 10vw;
}

@mixin GradientBorder($First,
$Second) {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-radius: 2rem;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 2px solid transparent;
        background: linear-gradient(to top left, $First, transparent, $Second) border-box;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}

@mixin AnimatedGradientBorder($First,
$Second) {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-radius: 2rem;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 2px solid transparent;
        background: linear-gradient(to top left, $First, transparent, $Second) border-box;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        animation: LoopGradient 4s ease infinite;
        background-size: 400% 400%;
    }
    @keyframes LoopGradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}