@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
    position: absolute;
    width: 100vw;
    min-height: 500vh;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

@mixin GlobalPadding() {
    padding: 2.5% 10%;
}