@mixin FAQ($Variant) {
    // background: lightgray;
    min-height: 500px;
    width: 80%;
    border-radius: 2rem;
    * {
        text-align: start !important;
    }
    .Title {
        padding: 2rem;
        font-weight: bold;
        font-size: 2rem;
        z-index: 100;
        color: rgba(#000, 50%);
        @if $Variant=="Dark" {
            color: rgba(#fff, 50%) !important;
        }
        @else {
            color: rgba(#000, 50%) !important;
        }
    }
    .List {
        width: 100%;
        min-height: 500px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        transition: all 0.5s ease-in-out;
        @if $Variant=="Dark" {
            color: rgba(#fff, 50%);
        }
        @else if $Variant=="Light" {
            color: rgba(#000, 50%);
        }
        .QandA {
            border-bottom: 1px solid;
            @if $Variant=="Dark" {
                border-color: rgba(#fff, 50%) !important;
            }
            @else {
                border-color: #505050 !important;
            }
            .Question {
                font-size: 1rem;
                gap: 1rem;
                align-items: flex-end;
                background: transparent;
                border-radius: 0;
                padding: 1rem 0;
                @if $Variant=="Dark" {
                    // background: #161617 !important;
                }
                @else {
                    // background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%) !important;
                }
                .QuestionText {
                    @if $Variant=="Dark" {
                        color: rgba(#fff, 50%) !important;
                    }
                    @else {
                        color: rgba(#000, 50%) !important;
                    }
                }
            }
            .Answer {
                z-index: 1;
                height: auto + 1rem;
                @if $Variant=="Dark" {
                    color: rgba(#fff, 50%) !important;
                }
                @else {
                    color: #505050 !important;
                }
            }
        }
        .QandA.open {
            padding-bottom: 1rem;
        }
    }
}