.BusinessPerformance {
    width: 100%;
    min-height: 100vh;
    // background: $G4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 0;
    margin-bottom: 5rem;
    @include GlobalPadding();
    .Title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        text-align: center;
        margin-bottom: 5rem;
        h1 {
            font-size: 2em;
            @media (max-width: 790px) {
                font-size: 1.5em;
            }
        }
        p {
            font-size: 1em;
            color: $C2;
            @media (max-width: 790px) {
                font-size: 0.85em;
            }
        }
    }
    .Cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        @media screen and (max-width: 900px) {
            grid-template-columns: none;
        }
        .Card {
            // width: 45%;
            // min-width: 200px;
            // min-height: 200px;
            background: linear-gradient(137deg, #fff, #fff);
            box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.05);
            border-radius: 50px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 2.5rem;
            gap: 2rem;
            transition: all 500ms ease;
            user-select: none;
            color: $C2;
            @media (max-width: 900px) {
                flex-direction: column;
            }
            .Icon {
                width: 50px;
                height: auto;
                aspect-ratio: 1/1;
                position: relative;
                flex: 1;
            }
            .Text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px;
                flex: 4;
                gap: 1rem;
                .Title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1.25em;
                    /* identical to box height */
                    text-align: left;
                    width: fit-content;
                    text-transform: capitalize;
                    margin: 0;
                    /* Colors/Raisin Black */
                    /* Inside auto layout */
                }
                .Description {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.90em;
                    text-transform: capitalize;
                }
            }
        }
        .Card.Normal {
            background: linear-gradient(#fff, #fff);
            color: $C2;
            &:hover {
                background: $G3 !important;
                color: #fff;
                .Icon {
                    filter: invert(1);
                }
            }
        }
        .Card.Special {
            background: $G2;
            color: #fff;
            .Icon {
                filter: invert(1);
            }
            &:hover {
                background: $G3 !important;
                color: #fff;
                .Icon {
                    filter: invert(1);
                }
            }
        }
    }
}